<div class="form-group">
    <%#= form.label :gallery %>
    <div class="gallery_form">

        <!-- Show / Remove Images -->
        <% if @post.images.any? %>

        <% @post.images.each do |image| %>

        <%= image_tag image.image_file.url(:thumb) %>
        <%= link_to 'X', post_image_path( post_id: @post.id, id: image.id, action: 'destroy' ), :method => :delete %>
                <%#= link_to 'X', post_image_path( post_id: @post.id, id: image.id, action: 'destroy' ), :method => :delete, data: { confirm: 'Are you sure?'} %>

        <% end %>

        <% end %>

    </div>
</div>

<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %>
        prohibited this post from being saved:</h2>

    <ul>
        <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content, class: 'form-control', rows: 50, placeholder: 'html safe' %>
</div>

<div class="field">
<%= form.label :author %>
<%= form.text_field :author, id: :post_author, class: 'form-control' %>
</div>

<div class="field">
<%= form.label :producer %>
<%= form.text_field :producer, id: :post_producer, class: 'form-control' %>
</div>

<div class="field">
<%= form.label :micro_review %>
<%= form.text_field :micro_review, id: :post_micro_review, class: 'form-control' %>
</div>







<!-- TAGS START -->
<div class="form-group">
    <%= form.label :genre_list %>
    <%= form.text_area :genre_list , id: :post_genre_list, class: 'form-control' %>
</div>

<!-- MIGHT NEED TO CHANGE DIRECTED LIST LATER due to director being singular .. also rating and media_type -->
<div class="form-group">
    <%= form.label :directed_by_list %>
    <%= form.text_area :directed_by_list , id: :post_directed_by_list, class: 'form-control' %>
</div>

<div class="form-group">
    <%= form.label :starring_list %>
    <%= form.text_area :starring_list , id: :post_starring_list, class: 'form-control' %>
</div>

<div class="form-group">
    <%= form.label :release_date_list %>
    <%= form.text_area :release_date_list , id: :post_release_date_list, class: 'form-control' %>
</div>

<div class="form-group">
    <%= form.label :general_tag_list %>
    <%= form.text_area :general_tag_list , id: :post_general_tag_list, class: 'form-control' %>
</div>

<div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating, Post.ratings.keys,
                        prompt: 'Select a Rating',
                        class: 'form-control',
                        id: 'post_rating' %>
</div>

<div class="form-group">
    <%= form.label :media_type %>
    <%= form.select :media_type, Post.media_types.keys,
                                    prompt: 'Select a Media Type',
                                    id: :post_media,
                                    class: 'form-control' %>
</div>



<!-- TAGS END -->



<div class="form-group">
    <%= form.submit %>
</div>

<% end %>
