<%= provide(:application_head_content) do %>
<%= javascript_include_tag "commenting", "application" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>
<p>
    <i>Uploaded
        <%= @post.created_at.strftime("%m/%d/%y") %> by <%= @post.author %></i>
</p>
<hr/>


<!-- Show / Remove Images -->
<% if @post.images.any? %>

<% @post.images.each_with_index do |image, index| %>
<!-- First image is used at the top as header -->
<% if index == 0 %>
<%= provide :large_top_image, (image_tag image.image_file.url(:large), class: 'center-block') %>
<% else %>
<%= provide :medium_bottom_image, (image_tag image.image_file.url(:medium)) %>
<% end %>

<% end %>

<% end %>


<%= yield :large_top_image %>


<p>
    <%= @post.content.html_safe %> <!-- .html_safe lets you render html from strings/text -->
</p>


<%= yield :medium_bottom_image %>





<table class="table">
    <tr>

        <!--
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Yield</th> -->
    </tr>

    <tr>
        <!-- <td><%#= @post.prep_time %></td>
        <td><%#= @post.cook_time %></td>
        <td><%#= @post.yield %></td> -->
    </tr>
</table>

<!-- AD -->

<img src="http://placehold.it/336x280" class='center-block' >



<hr/>

<h1><%= @post.title %></h1>



<!--
<h3>Equipment Needed</h3>
<p>
    <%#= @post.equipment_needed_list %>
    <#% if @post.equipment_needed.any? %>
    <ul>
    <#% @post.equipment_needed.each do |item| %>
    <li><%#= item.name %></li>
    <#% end %>
    </ul>
    <#% end %>
</p>
-->



<!--
<h3>Ingredients</h3>
<p>
    <%#= @post.ingredient_list %>
</p>

<h3>Directions</h3>
<p>
    <%#= @post.directions.html_safe %>
</p>

<h4>Tips</h4>
<p>
    <%#= @post.tips.html_safe %>
</p>





<p>
    <strong>Tags:</strong>
    <%#= @post.category_list %>
</p>
-->



<!--
<p>
  <strong>Rating:</strong>
  <%#= @post.rating %>
</p> -->

<hr/>




<%#= render 'shared/comment_box' %>
<!-- COMMENT / REPLES START -->

<!-- Comment Box (Hide on reply) -->

<div id="comment-box">

<h1 id="comment-box-title"><%= @comment_box_title %></h1>
<%= form_for [@post, Comment.new] do |f| %>

<div class="row">


<div class="col-lg-8">

<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :comment_name, class: 'form-control' %>
</div>


<div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, id: :comment_email, class: 'form-control email' %>
</div>

<div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, id: :comment_website, class: 'form-control url' %>
</div>

<div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating, id: :comment_rating, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, id: :comment_comment, class: 'form-control', rows: 5 %>
</div>

<div class="form-group">
    <%= f.label :email_notification, class: 'form-check-label' %>
    <%= f.check_box :email_notification, id: :comment_email_notification, class: 'form-check-input' %>
</div>

<%= f.submit 'Add Comment' %>


</div> <!-- ./col-lg-6 -->

</div> <!-- ./row -->
<% end %>
</div><!-- ./comment-box -->



















<!-- COMMENT / REPLIES END -->

<% if @post.comments.any? %>

<h1>Comments</h1>

<% @post.comments.each do |comment| %>
<div class="comment">
<h4><%= comment.name %></h4>
<p><i><%= comment.created_at.strftime("%m/%d/%y") %></i></p>
<p>Rating: <%= comment.rating %></p>
<p><%= comment.comment %></p>

<!-- <p class="reply-to-button">Reply</p> -->


</div><!-- ./comment -->

<% end %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %>
|
<%= link_to 'Back', posts_path %>
