<div class="nav-wrapper">
<ul class='list-inline text-center'>
    <li>
        <%= link_to 'Breakfast', '#', class: 'nav-link' %>
    </li>
    <li>
        <%= link_to 'Lunch', '#', class: 'nav-link' %>
    </li>
    <li>
        <%= link_to 'Dinner', '#', class: 'nav-link' %>
    </li>
    <li>
        <%= link_to 'Cocktails', '#', class: 'nav-link' %>
    </li>
    <li>
        <%= link_to 'Snacks', '#', class: 'nav-link' %>
    </li>

    <!-- dropdown menu -->
    <li>
        <!-- Single button -->
        <div class="btn-group">
            <a type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More Options
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </li>
    <!-- end dropdown menu -->
    <li>
        <%= link_to 'Ingredients', '#', class: 'nav-link' %>
    </li>

    <li>
        <%= link_to 'Alcohol Reviews', '#', class: 'nav-link' %>
    </li>

    <!-- Search Bar -->
    <li>
        <nav class="navbar navbar-light bg-faded">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </li>
    <!-- /.input-group -->

</ul>
<!-- /.list-inline -->












</div><!-- ./nav-wrapper -->
