<%= image_tag 'WelcomeImage.JPG', height: '50%', width: '50%', class: 'center-block' %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum nibh ut est feugiat, pretium iaculis purus maximus. Integer feugiat fermentum suscipit. Praesent euismod cursus quam eu semper. Pellentesque semper fringilla mollis. Mauris vitae dolor eget tortor vestibulum efficitur ac vitae diam. Phasellus quam erat, commodo at gravida id, cursus eu mauris. Vivamus posuere urna faucibus sem finibus, posuere porta diam scelerisque. Suspendisse auctor mattis dignissim. Sed ac dapibus leo. Ut venenatis elit quis eros imperdiet, dignissim posuere mauris vestibulum. In ut pulvinar diam, sit amet dapibus augue. Mauris porta sollicitudin tellus in suscipit. Praesent nec dolor posuere, vestibulum dui quis, sodales massa.
</p>

<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>


<img src="http://placehold.it/300x600" class='center-block' >
