<%= image_tag 'WelcomeImage.JPG', height: '50%', width: '50%', class: 'center-block' %>

<p>
  I like to watch movies, shows, and other things online! Check out some things that I like!
</p>

<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>
<%= image_tag 'facebook-icon.svg' %>


<img src="http://placehold.it/300x600" class='center-block' >
