<!DOCTYPE html>
<html>
    <head>
        <title>MeLikeFood</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield(:application_head_content) %>
    </head>

    <body>

        <div class="container-fluid">

            <div class="row">
                <%= render 'layouts/jumbotron' %>
            </div>

            <div class="row">
                <%= render 'layouts/navbar' %>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <!-- empty left pane -->
                </div>

                <!-- CONTENT -->
                <div class="col-lg-6">
                    <%= yield %>
                </div>
                <!-- END CONTENT -->

                <!-- ADS -->
                <div class="col-lg-4">
                    <%= render 'layouts/related_links' %>
                </div>
                <!-- END ADS -->
            </div>
            <!-- ./row -->

            <!-- footer -->
            <div class="row">
              <%= render 'layouts/footer' %>
            </div>

        </div>
        <!-- ./container-fluid -->

    </body>
</html>
